html {
  font-size: 16px;
  scroll-behavior: smooth;
} 

body {
  background-color: #f3bddd;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: sticky;
  top: 0;
  background-color: #e781a8;
  color: #36202a;
  border-bottom: none;
  z-index: 1000;
}

.logo { 
  position: relative;
  max-width: 160px;
  bottom: 1px;
}

.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(173, 216, 230);
}

/* .site-name {
  position: absolute;
  top: 30px;
  left: 200px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
} */

.motto {
  position: absolute;
  top: 50px;
  left: 200px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17.5px;
}

@media (max-width: 800px) {
  .site-name{
      font-size: 30px;
  }
  .motto {
      font-size: 16px;
  }
}

main {
  margin-top: 50px;
}

@media (max-width: 999px) {
  .main-nav {
      display: none;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 999px) {
  .main-nav {
    display: none;
  }
}

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
} 

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 1000px) {
  .mobile-nav-wrapper {
    display: none;
  }
} 

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 222, 150);
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 800px) {
  h1 {
      font-size: 40px; 
  }
} 

h1 {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 8.5px;
}

p, a, h1 {
  color: #471414;
  text-decoration: none;
}

a:hover {
  color: #a10873;
  text-decoration: none;
}

a:active {
  color: #cc429e;
}

.title {
  position: relative;
  bottom: 20px;
  /* left: 44%; */
}

.desc {
  position: relative;
  bottom: 20px;
  /* left: 31.5%; */
}

.desc-about {
  position: relative;
  bottom: 20px;
  /* left: 31.5%; */
}

.my-footer {
  position: relative;
  top: 40px;
  /* left: 41.5%; */
}

/* .art-list {
  position: relative;
} */

.row {
  margin: 15px;
  max-width: 900px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.carousel {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide img {
  width: 100%;
}