html {
  font-size: 16px;
  scroll-behavior: smooth;
} 

body {
  background-color: #f3bddd;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: sticky;
  top: 0;
  background-color: #e781a8;
  color: #36202a;
  border-bottom: none;
  z-index: 1000;
}

.logo { 
  position: relative;
  max-width: 160px;
  bottom: 1px;
}

.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(173, 216, 230);
}

/* .site-name {
  position: absolute;
  top: 30px;
  left: 200px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
} */

.motto {
  position: absolute;
  top: 50px;
  left: 200px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17.5px;
}

@media (max-width: 800px) {
  .site-name{
      font-size: 30px;
  }
  .motto {
      font-size: 16px;
  }
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 200px) {
  .logo {
    max-width: 100px
  }
}

main {
  margin-top: 50px;
}

@media (max-width: 999px) {
  .main-nav {
      display: none;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 999px) {
  .main-nav {
    display: none;
  }
}

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
} 

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 1000px) {
  .mobile-nav-wrapper {
    display: none;
  }
} 

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #f3bddd;
  position: absolute;
  top: 111px;
  left: 0;
  right: 0;
}

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 800px) {
  h1 {
      font-size: 40px; 
  }
} 

h1 {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 8.5px;
}

p, a, h1 {
  color: #471414;
  text-decoration: none;
}

a:hover {
  color: #a10873;
  text-decoration: none;
}

a:active {
  color: #cc429e;
}

.title {
  position: relative;
  bottom: 20px;
  text-align: center;
}

.desc {
  position: relative;
  bottom: 20px;
  text-align: center;
}

.desc-about {
  position: relative;
  bottom: 20px;
  max-width: 801px;
  margin: auto;
  text-align: center;
}

.my-footer {
  position: relative;
  top: 40px;
  text-align: center;
}

/* .art-list {
  position: relative;
} */

.row {
  margin: 15px;
  max-width: 900px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.carousel {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide img {
  width: 100%;
}

/* Contact Form */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #e781a8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #a10873;
}

/* Add a background color and some padding around the form */
.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}