html {
  font-size: 16px;
  scroll-behavior: smooth;
} 

body {
  background-color: #f3bddd;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: sticky;
  top: 0;
  background-color: #e781a8;
  color: #36202a;
  border-bottom: none;
  z-index: 1000;
}

.logo { 
  max-width: 160px;
}

.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(173, 216, 230);
}

.site-name {
  position: absolute;
  top: 30px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.motto {
  position: absolute;
  top: 65px;
  left: 132px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media (max-width: 800px) {
  .site-name{
      font-size: 30px;
  }
  .motto {
      font-size: 16px;
  }
}

main {
  margin-top: 50px;
}

@media (max-width: 999px) {
  .main-nav {
      display: none;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 999px) {
  .main-nav {
    display: none;
  }
}

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
} 

.mobile-main-nav a {
  padding: 8px;
}

@media (min-width: 1000px) {
  .mobile-nav-wrapper {
    display: none;
  }
} 

.mobile-main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 222, 150);
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}

.mobile-main-nav a {
  padding: 8px;
}

h1 {
  font-family: "Sixtyfour Convergence";
  font-size: 32px; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "BLED" 0,
  "SCAN" 0,
  "XELA" 0,
  "YELA" 0;
} 

@media (min-width: 800px) {
  h1 {
      font-size: 40px; 
  }
} 

/* h2, h3, button {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin: 50px;
}  */

h1 {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

p, a {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin: 8.5px;
}

p, a, h1 {
  color: #471414;
}

.row {
  margin: 15px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.carousel {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide img {
  width: 100%;
}